<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <h2>Giỏ hàng</h2>
    <p>Chi tiết giỏ hàng của bạn</p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Hình ảnh</th>
            <th>Giá tiền</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th>Xóa khỏi giỏ hàng</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Camera</td>
            <td></td>
            <td>100000</td>
            <td>2</td>
            <td>200000</td>
            <td><a href="#">Xóa</a></td>
        </tr>
        </tbody>
    </table>
    <div>Tổng hóa đơn thanh toán <strong>200000</strong></div>
</div>

<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-sm-6">
            <form name="product1" action="" method="post">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" style="height: 315px; width: 100%; display: block;" src="images/camera.jpg" data-holder-rendered="true">                    <div class="card-body">
                        <p class="card-text">Sản phẩm 1</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="form-inline">
                                <input type="text" class="form-control" name="quantity" value="1">
                                <label style="margin-left: 10px"><button type="button" class="btn btn-sm btn-outline-secondary">Thêm vào giỏ hàng</button></label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <form name="product2" action="" method="post">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" style="height: 315px; width: 100%; display: block;" src="images/hdd.png" data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text">Sản phẩm 2</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="form-inline">
                                <input type="text" class="form-control" name="quantity" value="1">
                                <label style="margin-left: 10px"><button type="button" class="btn btn-sm btn-outline-secondary">Thêm vào giỏ hàng</button></label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <form name="product3" action="" method="post">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" style="height: 315px; width: 100%; display: block;" src="images/laptop.jpg" data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text">Sản phẩm 3</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="form-inline">
                                <input type="text" class="form-control" name="quantity" value="1">
                                <label style="margin-left: 10px"><button type="button" class="btn btn-sm btn-outline-secondary">Thêm vào giỏ hàng</button></label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <form name="product4" action="" method="post">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" style="height: 315px; width: 100%; display: block;" src="images/smartwatch.jpg" data-holder-rendered="true">                    <div class="card-body">
                        <p class="card-text">Sản phẩm 4</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="form-inline">
                                <input type="text" class="form-control" name="quantity" value="1">
                                <label style="margin-left: 10px"><button type="button" class="btn btn-sm btn-outline-secondary">Thêm vào giỏ hàng</button></label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>